/* Container for toasts */
.toast-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  padding: 10px;
}

/* Toast base styles */
.toast {
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
}

/* Success toast */
.toast-success {
  background-color: #013124;
  border: 2px solid #056048;
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
  width: 26.875rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Error toast */
.toast-error {
  background-color: #380202;
  border: 2px solid #C32929;
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
  width: 26.875rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Warning toast */
.toast-warning {
  background-color: #544000;
  border: 2px solid #5a5000;
  background-blend-mode: soft-light;
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
  width: 26.875rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: left;
}


/* Positioning styles */
.toast-top-right {
  top: 10px;
  right: 10px;
  position: fixed;
}

.toast-top-left {
  top: 10px;
  left: 10px;
  position: fixed;
}

.toast-bottom-right {
  bottom: 10px;
  right: 10px;
  position: fixed;
}

.toast-bottom-left {
  bottom: 10px;
  left: 10px;
  position: fixed;
}

.toast-top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.toast-bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}