@font-face {
  font-family: "Mona-Sans-M";
  src: url("../fonts/Mona-Sans-Medium.eot");
  src: url("../fonts/Mona-Sans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mona-Sans-Medium.woff2") format("woff2"),
    url("../fonts/Mona-Sans-Medium.woff") format("woff"),
    url("../fonts/Mona-Sans-Medium.ttf") format("truetype"),
    url("../fonts/Mona-Sans-Medium.svg#Mona-Sans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona-Sans-B";
  src: url("../fonts/Mona-Sans-Bold.eot");
  src: url("../fonts/Mona-Sans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mona-Sans-Bold.woff2") format("woff2"),
    url("../fonts/Mona-Sans-Bold.woff") format("woff"),
    url("../fonts/Mona-Sans-Bold.ttf") format("truetype"),
    url("../fonts/Mona-Sans-Bold.svg#Mona-Sans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona-Sans-S";
  src: url("../fonts/Mona-Sans-SemiBold.eot");
  src: url("../fonts/Mona-Sans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mona-Sans-SemiBold.woff2") format("woff2"),
    url("../fonts/Mona-Sans-SemiBold.woff") format("woff"),
    url("../fonts/Mona-Sans-SemiBold.ttf") format("truetype"),
    url("../fonts/Mona-Sans-SemiBold.svg#Mona-Sans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


.horizontal-scroll-wrapper {
  display: flex; /* Align card items in a row */
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar */
  padding-bottom: 10px; /* Creates space for the scrollbar */
  margin-bottom: -10px; /* Negatively offsets the added padding */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
  }
  
  .horizontal-scroll-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }


/* Show the scrollbar when hovering */
.horizontal-scroll-wrapper:hover {
  scrollbar-width: auto; /* For Firefox */
  -ms-overflow-style: auto; /* For IE and Edge */
}

.horizontal-scroll-wrapper:hover::-webkit-scrollbar {
  display: block; /* Chrome, Safari, and Opera */
}

/* Optional: Style the scrollbar to make it more modern-looking */
.horizontal-scroll-wrapper::-webkit-scrollbar {
  height: 0px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Last card doesn't need a margin to the right */
.card:last-child {
  margin-right: 0;
}

.custom-background {
  background-color: #101010; /* hex code needs to be defined in a valid CSS way */
}

.custom-width {
  max-width: 1128px; /* Example conversion of Tailwind's max-w-7xl */
  margin-left: auto;
  margin-right: auto;
}

.custom-padding {
  padding-left: 16px; /* px-4 */
  padding-right: 16px; /* px-4 */
  padding-top: 40px; /* py-10 */
  padding-bottom: 40px; /* py-10 */
}

.card {
  flex-shrink: 0;
  cursor: pointer;
  padding: 12px;
  background-color: #232426;
  border: 1px solid #494949;
  border-radius: 4px;
  margin-right: 6px; /* Adjust this value to get the desired space between cards */
}


.scrollable-container {
  display: flex;
  gap: 6px; /* this replaces your 'gap-[6px]' class */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}

body {
  background-color: #101010;
}

.InputElement {
  margin: 0 auto;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.zindex {
  z-index: 999 !important;
}

.modal-overlay {
  backdrop-filter: blur(10px); /* Adjust blur value as needed */
}

.bottom-audio-player {
  display: flex;
  justify-content: space-between; /* This will place the child containers on opposite ends */
  align-items: center; /* To align items vertically in the center */
  z-index: 1000; /* Ensure it stays above other content */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  background-color: #1a1a1a; /* Dark background for visibility */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow for better separation */
  z-index: 1000; /* Ensure it stays above other content */
}


.second-div {
  padding-bottom: 70px; /* Adjust based on the height of your audio player */
}

// .bottom-audio-player {
//   display: flex;
//   justify-content: center; /* Horizontally center the inner container */

//   position: fixed;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   padding: 25px;
//   background-color: #1a1a1a; /* Dark background for visibility */
//   box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow for better separation */
//   z-index: 1000; /* Ensure it stays above other content */
// }\

.sample-container {
  flex: 2; /* This will make each container take half the width of the parent */
  display: flex;
  align-items: center; /* To align items vertically in the center */
  justify-content: flex-start; /* For sample-container content alignment */
  padding: 0 100px; /* Give some padding inside each container */
}

.volume-container {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 0 10px; /* Space between the button and the slider */
}

.volume-button {
  background: none;
  border: none;
  
  padding: 5px; /* Optional, adjust as needed */
}

.volume-slider-wrapper {
  position: relative;
  flex-grow: 1; /* Allow the slider to take up the rest of the space */
}

.volume-input {
  width: 100%; /* Full width of its container */
  -webkit-appearance: none; /* Removes default styling */
  appearance: none;
  background: transparent;
}

.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

.volume-input::-moz-range-thumb {
  width: 0 !important;
  height: 0 !important;
  border: none !important;
  background: transparent !important;
}


.volume-slider {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 10px;
  background-color: #525252;
}

.volume-level {
  height: 100%;
  background-color: #fdfeff;
}

.container {
  width: 100vw; /* This might not be ideal when zooming */
}


.audio-container {
  flex: 2; /* This will make each container take half the width of the parent */
  display: flex;
  align-items: center; /* To align items vertically in the center */
  justify-content: flex-start; /* For sample-container content alignment */
  padding: 0 150px; /* Give some padding inside each container */
  gap: 15px; /* Space between elements */
}

// .sample-container {
//   display: flex; /* Enables flexbox layout */
//   align-items: center; /* Vertically centers the children */
//   justify-content: flex-start; /* Aligns children to the start of the container */
//   width: 100%; /* Takes the full width of its parent */
//   /* Other styling as needed */
// }

.album-info {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.album-art {
  width: 64px;  /* or the fixed size you want */
  height: 64px; /* make height equal to width for a square */
  display: flex; /* to center the image within the wrapper */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* hides the overflowed part of the image */
}

.album-art img {
  height: 100%; /* sets the image height to the height of the wrapper */
  min-width: 100%; /* ensures minimum width is always the full width of the wrapper */
  object-fit: cover; /* covers the wrapper area without distorting aspect ratio */
}

.album-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

.album-name {
  font-weight: bold;
  margin-bottom: 4px; /* Adds 4 pixels of space below the .album-name */
  color: rgb(209, 209, 209);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Additional styling */
}



.album-author {
  color: rgb(150, 150, 150);
  /* Additional styling */
}

.audio-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-end; /* Aligns container content to the end */
}

// .audio-container {
//   display: flex;
//   align-items: center; /* Center items vertically */
//   justify-content: flex-start; /* Align items to the start */
//   width: 100%;
//   max-width: 600px;
//   transform: translateX(200px); /* Adjust this if necessary */
//   box-sizing: border-box;
//   gap: 15px; /* Space between elements */
// }

.control-button {
  padding: 1px 1px;
  background-color: #007bff00;
  color: white;
  border: none;
  cursor: pointer;
  flex: 0 0 auto; /* Do not grow or shrink, use auto width */
}

.audio-player { /* Additional class or adjust your existing player CSS */
  flex: 1 1 auto; /* Grow to use available space */
  min-width: 0; /* Prevent flexbox from pushing out beyond max-width */
}
.volume-container {
  justify-content: flex-end; /* Align to the end (right) */
}


.audio {
  flex-grow: 1; /* Allows the audio player to take up any remaining space */
}


.red {
  color:red !important;
}
.img-g {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 36.12%,
    #000000 92.21%
  ) !important;
  opacity: 0.6;
}

.active-sample {
  background-color: #ffffff11; /* Light grey background, or choose your color */
  color: #ffffff; /* Darker text color for better readability */
}


.editor {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-section {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.player-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.track-current-time {
  color: rgb(190 242 100) !important;
}
.rm-player-progress {
  background-color: rgb(190 242 100) !important;
}

.feed {
  position: absolute;
  right: 0;
  bottom: 100px;
  display: none;
}

.home-bg {
  background: linear-gradient(180deg, #656971 0%, #151515 90.39%);
}

.dots {
  width: 35px;
  height: 20px;
  padding: 0px 8px 0px 8px;
  gap: 2px;
  opacity: 0px;
}

._modal {
  backdrop-filter: blur(15px);
}

.main-container {
  height: fit-content;
  padding-top: 3rem;
}

#icons-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: -15px;
}

.Toastify__toast-container  {
  width: 700px !important;
  text-align: center;
}

.track-info-container {

  width: 500px !important;
}

.user-settings-modal {
  width: 50%; /* Adjust width as needed */
  max-width: 300px; /* Or whatever maximum you prefer */
  min-height: 300px; /* Adjust height as needed */
  margin: 0 auto; /* This will center the modal horizontally */
  /* ... other styles */
}


.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Darken the background */
  backdrop-filter: blur(10px); /* Blur the background */
  z-index: 1040; /* Example z-index for modal */

}

.modal-overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.051); /* Darken the background */
  backdrop-filter: blur(10px); /* Blur the background */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* This will create the blur effect */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* This darkens the background */
  }

  .account-details-header {
    font-size: 1rem; /* Smaller font size */
    background-color: #9ab91d; /* Green background color */
    color: rgb(0, 0, 0); /* White text color */
    padding: 8px 16px; /* Padding around the text */
    border-top-left-radius: 10px; /* Rounded corners on the top left */
    border-top-right-radius: 10px; /* Rounded corners on the top right */
    margin-bottom: 0; /* No margin below the header */
  }

.account-details-form {
  border-radius: 10px; /* Rounded corners of the form */
  overflow: hidden; /* Ensures the children don't overflow */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.058); /* Shadow effect for the form */
}

.account-detail-row:first-child {
  border-top: none; /* No border on top of the first row */
}
.account-detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#ffffff; /* Black background color for rows */
  background-color: #101010; /* Black background color for rows */
  border-bottom: .5px solid #a4a4a42d; /* Border between rows */
  padding: 30px; /* Padding for each row */
  border-right: .5px solid #a4a4a42d; /* Border between rows */
  border-left: .5px solid #a4a4a42d; /* Border between rows */
  width: 500px
}

.row-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}
.detail-title {
  font-size: 0.75rem; /* Smaller font size for the title */
  color: #888; /* Light grey color, adjust as needed */
  margin-bottom: 8px; /* Space between title and thumbnail */
}
.account-detail-row:last-child {
  border-bottom: .5px solid #a4a4a42d; /* Border between rows */
}

.image-preview {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-thumbnail-preview {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without being distorted */
}

.edit-image-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}


.edit-phone-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}


.edit-password-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}

.edit-state-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}

.edit-city-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}

.edit-username-modal {
  background: #1a1a1a;
  border-radius: 10px;
  color: white;
    /* Adjust width and height as needed */
    width: 350px; /* Set a new width */
    
  padding: 20px;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4C9AFF; /* Color of the edit icon/button */
  font-size: 1.2rem; /* Size of the edit icon/button */
}

.profile-thumbnail {
  width: 150px; /* Width of the thumbnail */
  height: 150px; /* Height of the thumbnail */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
.Toastify__toast-container {
  z-index: 1050
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  color: #858585; /* Replace with your desired color */
}

.modal-content {
  background-color: #333333;
  padding: 0px;
  border-radius: 10px;
  color: white;
  position: relative; /* To position the close button */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.close-button {
  background: transparent;
  border: none;
  color: rgb(151, 151, 151);
  padding: 10px;
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.input-label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 15px;
  background: #222 !important; /* Overriding other styles */
  color: rgb(190, 190, 190);
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6C0;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: #7D0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
